.b-input {
  width: 100%;
  height: 32px;
  min-width: 18rem;
  background-color: transparent;
  border: none;
  color: #6c6c6c;
  padding: 10px;
  font-family: Lato;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.b-input:focus {
  outline: none;
}
