.c-header {
  position: absolute;
  width: 100%;
  height: 8.3vh;
  display: flex;
  padding-left: 8vw;
  padding-right: 8vw;
}

.c-left-bar {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 50%;
}

.c-top-links {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  &__flag {
    height: 64px;
    margin-left: 29px;
    &--group {
      height: 49.4px;
    }
  }
}
